<div class="main_component">
  <h1>Elérhetőségek</h1>
  <p><strong>Cím:</strong> neMVM Zrt., Nemszeged , Szenttelen István tér 12., 6969</p> <br/><br/>
  <p><strong>Postacím:</strong> Nincs xdddddddddddd</p> <br/><br/>
  <p><strong>Telefonszám:</strong> +36 69 420420</p> <br/><br/>
  <p><strong>E-mail:</strong> contact@nemvm.cn</p> <br/><br/>
  <p>Hibát az "Eddigi diktálásaim" oldalon is tud jelezni a kellő gomb megnyimásával.</p> <br/><br/>
  <br/><br/>
  <button mat-raised-button color="primary" (click)="back()">Vissza</button>
</div>

