<div class="main_component">
  <h1>Üdvözöljük!</h1>
  <button mat-raised-button color="primary" (click)="toRecordAdd()"><strong>Diktálás</strong></button> <br/><br/>
  <button mat-raised-button color="primary" (click)="toMyRecords()"><strong>Eddigi diktálásaim</strong></button> <br/><br/>
  <button mat-raised-button color="primary" (click)="toContacts()"><strong>Elérhetőségek</strong></button> <br/><br/>
  <button mat-raised-button color="primary" (click)="logout()">Kijelentkezés</button>
</div>
